<!DOCTYPE html>

<html>
<head>
    <title>{{ HTML_TITLE }}{% if act_cat %} - {{ act_cat.name }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss/" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/content.css" type="text/css">

</head>

<body>

<div id="page">
<div id="topbar">
    <div style="float:left;">
        &nbsp;
    </div>
    <div style="float:right;text-align:right;margin-right:25px;">
        <form method="get" action="/search/">
            <input type="search" maxlength="50" size="25" placeholder="Search" name="q" value="{{ query }}" id="search_text" onKeyPress="if(event && event.keyCode==13) { if(document.getElementById('search_text').value != '') document.forms[0].submit();else return false;}" autocomplete="off"/>
        </form>
    </div>
</div>

<div style="width:100%;clear:both;"></div>

<div id="header">

    <div style="float:left;">
        <a href="/" style="text-decoration:none"><h1 id="page_header">{{ SITE_TITLE }}</h1></a>
    </div>
    <div style="float:right;text-align:right;margin-right:25px;">
        <h2 id="sub_header">{% autoescape off %}{{ SITE_SUBTITLE }}{% endautoescape %}</h2>
    </div>

</div>

<div style="width:100%;clear:both;"></div>

{% if FACEBOOK_URL %}
<div style="float:right;margin-top:40px;">
    <script src="http://connect.facebook.net/de_DE/all.js#xfbml=1">
    </script><fb:like href="{{ FACEBOOK_URL }}" layout="button_count" show_faces="false" width="135" font=""></fb:like>
</div>
{% endif %}

{% block menu %}
<div id="menu">
{% for cat in category_list %}
    <h3 class="menu_elem" id="menu_{{ forloop.counter }}" 
        style="background-color:{% if cat == act_cat %}{{cat.active_color}}{% else %}{{ cat.color }}{% endif %}">
        <a href="/{{ cat.url_name }}" style="{% if cat == act_cat %}text-decoration:underline;{% endif %}">{{ cat.name }}</a></h3>
    <script>
        $("#menu_{{ forloop.counter }}").mouseover(function() {
            $(this).css("background-color", "{{ cat.active_color }}");
        });
        $("#menu_{{ forloop.counter }}").mouseout(function() {
            $(this).css("background-color", "{% if cat == act_cat %}{{ cat.active_color }}{% else %}{{ cat.color }}{% endif %}");
        });
        $("#menu_{{ forloop.counter }}").click(function(event) {
            location.href="/";
        });
    </script>
{% endfor %}
</div>
{% endblock %}

<div style="clear:both;"></div>

<div id="content">

    {% block content %}
    {% endblock %}

</div>

<div style="clear:both;"></div>
<div id="footer">
    <div style="float:left;">{% autoescape off %}{{ FOOTER_LEFT }}{% endautoescape %}</div>
    <div style="float:right;margin-right:25px;">{% autoescape off %}{{ FOOTER_RIGHT }}{% endautoescape %}
    | <a href="https://github.com/holgerd77/Website-Showroom" target="_blank">Source Code (GitHub)</a> | <a href="/contact/">{{ CONTACT_TITLE }}</a></div>
    <div style="clear:both;"></div>
</div>

</div>

</body>

</html>
