{% extends 'base.html' %}

{% block content %}
<b>{{ act_edition.contact_title }}</b><br /><br />

{% autoescape off %} 
{{ act_edition.contact_html }}
{% endautoescape %}

<br>
<br>
<br>
<b>Credits</b><br><br>
Flags:<br>
<a href="http://flags.blogpotato.de/" target="_blank">http://flags.blogpotato.de/</a><br>
Creative Commons CC BY-SA Lizenz<br>
<br>Icons:<br><a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">http://fortawesome.github.com/Font-Awesome/</a><br>
Creative Commons CC BY Lizenz<br>


{% endblock %}
