{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
{% if ed_website_list %}
    {% for ed_website in ed_website_list %}
        <div class="project">
        <a href="{{ ed_website.website.url }}" target="_blank">
        <img src="{{ ed_website.website.screenshot.url }}" class="img-responsive"></a>
        <div class="title" style="color:{{ ed_website.website.category.active_color }}">{{ ed_website.get_title }}</div>
        {% if ed_website.website.country %}
        <div class="flag">
            {% with 'world/'|add:ed_website.website.country|add:'.png' as website_ed_img_static %}
            <img src="{% static website_ed_img_static %}" width="25" height="15">
            {% endwith %}
        </div>
        {% endif %}
        <div style="clear:both;"></div>
        <div class="description">{{ ed_website.desc }}</div>
        <div class="url">
            <a href="{{ ed_website.website.url }}" target="_blank" style="color:{{ ed_website.website.category.active_color }};">{{ ed_website.website.url }}</a>
        </div>
        </div>
    {% endfor %}
{% else %}
    <p>No websites available.</p>
{% endif %}
{% endblock %}
